@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background: #d1d186;
    margin: 0;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
}

*:focus-visible {
    outline: 2px solid #d8d9db;
    outline-offset: 2px;
}